.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 90%;
  height: 60%;
  gap: 1rem;
  padding: 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  background: var( --type-fifth );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
}