.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: calc( 100vh - 60px );
  padding: 0 2rem;
}

.dashboard .container {
  width: 90%;
  height: 90%;
  background: var( --type-fifth );
}

.dashboard h1 {
  text-align: center;
}

.dashboard p {
  margin-top: 1rem;
  text-align: justify;
}